worlds["template"] = "../../server/world"

renders["day"] = {
    "world": "template",
    "title": "Daytime",
    "rendermode": smooth_lighting,
    "dimension": "overworld",
}

renders["night"] = {
    "world": "template",
    "title": "Nighttime",
    "rendermode": smooth_night,
    "dimension": "overworld",
}

renders["cave"] = {
    "world": "template",
    "title": "Cave",
    "rendermode": cave,
    "dimension": "overworld",
}

renders["nether"] = {
    "world": "template",
    "title": "Nether",
    "rendermode": nether_smooth_lighting,
    "dimension": "nether",
}

renders["end"] = {
    "world": "template",
    "title": "End",
    "rendermode": smooth_lighting,
    "dimension": "end",
}

outputdir = "../../map"