worlds["zigcraft"] = "../../server/world"

renders["day"] = {
    "world": "zigcraft",
    "title": "Daytime",
    "rendermode": smooth_lighting,
    "dimension": "overworld",
    "defaultzoom": 6
}

renders["night"] = {
    "world": "zigcraft",
    "title": "Nighttime",
    "rendermode": smooth_night,
    "dimension": "overworld",
    "defaultzoom": 6
}

outputdir = "../../map"